<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
    <section class="py-8 z-10 font-serif">
        <div class="flex flex-col md:flex-row items-center max-w-6xl px-6 py-8 mx-auto">
        <div class="w-full md:w-1/2 py-8">
            <div class="w-full h-full flex justify-center items-center">
                <h1 id="typewriter" class="text-4xl font-bold"></h1>
            </div>
            
            <h1 class="text-purple-900 text-7xl font-semibold leading-none tracking-tighter">
            Welcome <br><span class="text-black">{{request.user}}</span>
            </h1>
        </div>
        <div class="w-full md:w-1/2 py-8">
            <img src="https://www.svgrepo.com/show/493509/person-who-invests.svg" class="g-image">
        </div>
        </div>
    </section>
</body>
</html>
